body {
    font-family: 'Passion One', cursive;
    background: linear-gradient(-58deg, #ff0000 65%, #ffffff 65%);
    height: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #ff0000;
}

a:visited {
    color: #b4b4b4;
}

.personalData {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: fixed;
}

.personalData > h1 {
    font-size: 5rem;
}

.personalData > h2 {
    font-size: 2rem;
    margin-top: 20%;
}

.svgContainer {
    display: inline-block;
    width: 100%;
}

#contactInfo {
    list-style: none;
    display: inline-block;
    margin-bottom: 40px;
}

#contactInfo > li {
    font-size: 2rem;
}

#skillsCanvas{
    height: 350px;
    width: 500px;
    margin-left: 40px;
}

#skillsContainer > text {
    fill: #ffffff;
    font-size: 2rem;
}

.proInfo {
    float: right;
}

.fieldTitle {
    fill: #000000;
    stroke-width: 6;
    stroke: #ffffff;
}

.whiteTitle {
    transform: rotate(2.5deg);
    font-size: 3rem;
    fill: #ffffff;
}

.blackTitle {
    transform: rotate(2.5deg);
    font-size: 3rem;
    fill: #000000;
}

.descriptionP {
    transform: rotate(2.5deg);
    font-family: 'Passion One', cursive;
    font-size: 2rem;
    fill: #000000;
}

.descriptionN {
    transform: rotate(-0.3deg);
    font-family: 'Passion One', cursive;
    font-size: 2rem;
    fill: #000000;
}

.fieldInfo {
    fill: #ffffff;
    stroke-width: 3;
    stroke: #ffffff;
}

.pinkEffect {
    fill: #ff86ff;
}

.aquaEffect {
    fill:#00ffffff;
}

img {
    width: 437px;
    height: 247px;
    margin-top: 8%;
    margin-left: 15%;
}